<div class="flex justify-center">
  <div class="w-full max-w-md mt-8 md:mt-14" *ngIf="question">
    <div class="flex justify-center">
      <img
        class="rounded-md max-h-48 w-auto mb-8"
        *ngIf="question.imageUrl"
        [src]="question.imageUrl"
        [alt]="question.text"
      />
    </div>
    <p class="flex-grow mb-8"><b>Pregunta: </b>{{ question.text }}</p>
    <hr />
    <ul *ngIf="showOptions; else refreshButton">
      <li
        class="mb-4 w-full"
        *ngFor="let a of question.answers; let i = index"
        (click)="answerQuestion(i)"
      >
        <button class="w-full" pButton type="button" [label]="a"></button>
      </li>
    </ul>
    <ng-template #refreshButton>
      <p-messages
        *ngIf="wasCorrect"
        [value]="successMessage"
        [enableService]="false"
      ></p-messages>
      <p-messages
        *ngIf="!wasCorrect"
        [value]="errorMessage"
        [enableService]="false"
      ></p-messages>
      <button
        (click)="refreshQuestion()"
        class="w-full p-button-outlined p-button-success"
        pButton
        icon="pi pi-refresh"
        type="button"
        label="Generar otra pregunta"
      ></button>
    </ng-template>
  </div>
</div>
