<header class="flex items-center justify-center mb-6 mt-8 fadeIn">
  <div
    class="h-40 w-40 mr-8 rounded-full bg-center bg-cover"
    style="background-image: url('assets/images/ovino1.jpeg')"
  ></div>
  <p class="text-3xl lg:text-6xl uppercase font-light">Simulación</p>
</header>

<div class="mx-auto max-w-2xl flex justify-center">
  <p-messages
    [value]="info"
    [enableService]="false"
    [closable]="false"
  ></p-messages>
</div>
<main class="fadeIn">
  <form class="flex flex-wrap" [formGroup]="inputForm">
    <div class="w-full lg:w-1/2 px-4 my-2">
      Valores de inicio:
      <div class="bg-blue-100 rounded-md p-4 flex flex-col items-center">
        <div class="p-field mb-2">
          <h5>Número de ovejas</h5>
          <p-inputNumber
            formControlName="o"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            [min]="0"
            decrementButtonClass="p-button-primary"
            incrementButtonClass="p-button-primary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          >
          </p-inputNumber>
        </div>
        <div class="p-field mb-4">
          <h5>Número de padrotes</h5>
          <p-inputNumber
            formControlName="p"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            [min]="0"
            decrementButtonClass="p-button-primary"
            incrementButtonClass="p-button-primary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          >
          </p-inputNumber>
        </div>
        <div class="p-field mb-2">
          <h5>Número de corderos</h5>
          <p-inputNumber
            formControlName="cM"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            [min]="0"
            decrementButtonClass="p-button-secondary"
            incrementButtonClass="p-button-secondary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          >
          </p-inputNumber>
        </div>
        <div class="p-field mb-2">
          <h5>Número de corderas</h5>
          <p-inputNumber
            formControlName="cF"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            [min]="0"
            decrementButtonClass="p-button-secondary"
            incrementButtonClass="p-button-secondary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          >
          </p-inputNumber>
        </div>
        <div class="p-field mb-2">
          <h5>Número de borregos</h5>
          <p-inputNumber
            formControlName="bM"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            [min]="0"
            decrementButtonClass="p-button-secondary"
            incrementButtonClass="p-button-secondary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          >
          </p-inputNumber>
        </div>
        <div class="p-field mb-2">
          <h5>Número de borregas</h5>
          <p-inputNumber
            formControlName="bF"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            [min]="0"
            decrementButtonClass="p-button-secondary"
            incrementButtonClass="p-button-secondary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          >
          </p-inputNumber>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/2 px-4 my-2">
      Indices parametrizables:
      <div class="bg-blue-100 rounded-md py-4 px-8">
        <!-- <div class="mb-4">
          <h5 class="mb-4">
            Relación macho/hembra: ({{ inputForm.get("rmh")?.value }}/25)
          </h5>
          <p-slider
            [min]="1"
            [max]="25"
            [step]="1"
            formControlName="rmh"
          ></p-slider>
        </div> -->
        <div class="flex justify-center">
          <div class="p-field mb-4">
            <h5>Índice de natalidad</h5>
            <p-inputNumber
              formControlName="ind"
              [showButtons]="true"
              buttonLayout="horizontal"
              inputId="horizontal"
              spinnerMode="horizontal"
              [min]="0"
              [minFractionDigits]="0"
              [maxFractionDigits]="2"
              decrementButtonClass="p-button-primary"
              incrementButtonClass="p-button-primary"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
            >
            </p-inputNumber>
          </div>
        </div>
        <div class="mb-8">
          <h5 class="mb-4">
            Mortalidad en crías: {{ inputForm.get("mc")?.value }}%
          </h5>
          <p-slider
            [min]="0"
            [max]="100"
            [step]="1"
            formControlName="mc"
          ></p-slider>
        </div>
        <div class="mb-8">
          <h5 class="mb-4">
            Mortalidad en adultos: {{ inputForm.get("ma")?.value }}%
          </h5>
          <p-slider
            [min]="0"
            [max]="100"
            [step]="1"
            formControlName="ma"
          ></p-slider>
        </div>
        <div class="mb-8">
          <h5 class="mb-4">Eliminaciones: {{ inputForm.get("e")?.value }}%</h5>
          <p-slider
            [min]="0"
            [max]="100"
            [step]="1"
            formControlName="e"
          ></p-slider>
        </div>
        <div class="mb-8">
          <h5 class="mb-4">Reemplazo: {{ inputForm.get("r")?.value }}%</h5>
          <p-slider
            [min]="0"
            [max]="100"
            [step]="1"
            formControlName="r"
          ></p-slider>
        </div>
      </div>
    </div>
  </form>
  <div
    class="w-full my-2 max-w-4xl mx-auto"
    *ngIf="(simulationResult$ | async)?.results as results"
  >
    <p-button
      class="fixed left-2 bottom-2 fadeIn"
      label="Ver resultado"
      icon="pi pi-angle-down"
      (click)="scrollBottom()"
    ></p-button>
    <p-tabView [scrollable]="true">
      <ng-container *ngFor="let res of results; let i = index">
        <p-tabPanel [header]="'Año: ' + (i + 1)">
          <app-simulation-year-report [data]="res"></app-simulation-year-report>
        </p-tabPanel>
      </ng-container>
    </p-tabView>
    <ng-container> </ng-container>
  </div>
  <div class="w-full text-center mt-2 mb-16">
    <p class="font-bold">Bibliografia</p>
    <p>
      Todos los calculos dentro de esta simulación se basan en los calculos
      expuestos por: Ing. Alcides Arsenio Sáenz García MSc. en el libro "Ovinos
      y Caprinos" editorial Universidad Nacional, Marzo, 2007.
    </p>
  </div>
</main>
