<header class="flex items-center justify-center mb-14 mt-8 fadeIn">
  <div
    class="h-40 w-40 mr-8 rounded-full bg-center bg-cover"
    style="background-image: url('assets/images/ovino1.jpeg')"
  ></div>
  <p class="text-3xl lg:text-6xl uppercase font-light">Simulación</p>
</header>

<p class="text-center text-gray-700 fadeIn">
  Rellena toda la información necesaria para conocer el resultado de la
  simulación!
</p>
<main class="fadeIn">
  <form class="flex flex-wrap" [formGroup]="inputForm">
    <div class="w-full lg:w-1/2 px-4 my-2">
      <div class="bg-blue-100 rounded-md p-4 flex flex-col items-center">
        <div class="p-field mb-2">
          <h5>Número de corderos</h5>
          <p-inputNumber
            formControlName="cM"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            [min]="0"
            decrementButtonClass="p-button-primary"
            incrementButtonClass="p-button-primary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          >
          </p-inputNumber>
        </div>
        <div class="p-field mb-2">
          <h5>Número de corderas</h5>
          <p-inputNumber
            formControlName="cF"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            [min]="0"
            decrementButtonClass="p-button-primary"
            incrementButtonClass="p-button-primary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          >
          </p-inputNumber>
        </div>
        <div class="p-field mb-2">
          <h5>Número de borregos</h5>
          <p-inputNumber
            formControlName="bM"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            [min]="0"
            decrementButtonClass="p-button-primary"
            incrementButtonClass="p-button-primary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          >
          </p-inputNumber>
        </div>
        <div class="p-field mb-2">
          <h5>Número de borregas</h5>
          <p-inputNumber
            formControlName="bF"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            [min]="0"
            decrementButtonClass="p-button-primary"
            incrementButtonClass="p-button-primary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          >
          </p-inputNumber>
        </div>
        <div class="p-field mb-2">
          <h5>Número de ovejas</h5>
          <p-inputNumber
            formControlName="o"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            [min]="0"
            decrementButtonClass="p-button-primary"
            incrementButtonClass="p-button-primary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          >
          </p-inputNumber>
        </div>
        <div class="p-field mb-4">
          <h5>Número de padrotes</h5>
          <p-inputNumber
            formControlName="p"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            [min]="0"
            decrementButtonClass="p-button-primary"
            incrementButtonClass="p-button-primary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          >
          </p-inputNumber>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/2 px-4 my-2">
      <div class="bg-blue-100 rounded-md py-4 px-8">
        <div class="mb-4">
          <h5 class="mb-4">
            Relación macho/hembra: ({{ inputForm.get("rmh")?.value }}/25)
          </h5>
          <p-slider
            [min]="1"
            [max]="25"
            [step]="1"
            formControlName="rmh"
          ></p-slider>
        </div>
        <div class="flex justify-center">
          <div class="p-field mb-4">
            <h5>Índice de natalidad</h5>
            <p-inputNumber
              formControlName="in"
              [showButtons]="true"
              buttonLayout="horizontal"
              inputId="horizontal"
              spinnerMode="horizontal"
              [step]="1"
              [min]="0"
              decrementButtonClass="p-button-primary"
              incrementButtonClass="p-button-primary"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
            >
            </p-inputNumber>
          </div>
        </div>
        <div class="mb-8">
          <h5 class="mb-4">
            Mortalidad en crías: {{ inputForm.get("mc")?.value }}%
          </h5>
          <p-slider
            [min]="0"
            [max]="100"
            [step]="1"
            formControlName="mc"
          ></p-slider>
        </div>
        <div class="mb-8">
          <h5 class="mb-4">
            Mortalidad en adultos: {{ inputForm.get("ma")?.value }}%
          </h5>
          <p-slider
            [min]="0"
            [max]="100"
            [step]="1"
            formControlName="ma"
          ></p-slider>
        </div>
        <div class="mb-8">
          <h5 class="mb-4">Eliminaciones: {{ inputForm.get("e")?.value }}%</h5>
          <p-slider
            [min]="0"
            [max]="100"
            [step]="1"
            formControlName="e"
          ></p-slider>
        </div>
        <div class="mb-8">
          <h5 class="mb-4">Reemplazo: {{ inputForm.get("r")?.value }}%</h5>
          <p-slider
            [min]="0"
            [max]="100"
            [step]="1"
            formControlName="r"
          ></p-slider>
        </div>
      </div>
    </div>
  </form>
  <div
    class="w-full my-2 flex flex-col items-center"
    *ngIf="(simulationResult$ | async)?.result as results; else empty"
  >
    <p-button
      class="fixed left-2 bottom-2 fadeIn"
      label="Ver resultado"
      icon="pi pi-angle-down"
      (click)="scrollBottom()"
    ></p-button>
    <div class="w-full max-w-xl">
      <p-chart type="pie" [data]="chartData"></p-chart>
    </div>
    <h1 class="text-gray-700 text-xl my-4">Resultados</h1>
    <div class="mb-4">
      <div>
        <h2>
          <b class="text-gray-700">Número se corderos: </b>{{ results.cM }}
        </h2>

        <h2>
          <b class="text-gray-700">Número de corderas: </b>{{ results.cF }}
        </h2>

        <h2>
          <b class="text-gray-700">Número de borregos: </b>{{ results.bM }}
        </h2>

        <h2>
          <b class="text-gray-700">Número de borregas: </b>{{ results.bF }}
        </h2>

        <h2><b class="text-gray-700">Número de ovejas: </b>{{ results.o }}</h2>

        <h2>
          <b class="text-gray-700">Número de padrotes: </b>{{ results.p }}
        </h2>

        <h2>
          <b class="text-gray-700">Número total de animales: </b
          >{{ results.total }}
        </h2>
      </div>
    </div>
  </div>
  <ng-template #empty>
    <div class="w-full text-center my-2">
      <p>Agrega algunos valores a la simulación para ver los resultados!</p>
    </div>
  </ng-template>
</main>
